<!DOCTYPE html>
<html>
	<head>
		<title>Error Page</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="../stylesheets/mycss.css" type="text/css" rel="stylesheet" />
	</head>
	<body class="Error">
		<div align="center" style="margin-top: 230px">
			<h1><%= error.messege%></h1>
			<button type="button"><a href="<%=error.page%>">try again</a></button>
		</div>
	</body>
</html>
