<!DOCTYPE html>
<html>
	<head>
		<title>Library - Orel Moshe</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="../stylesheets/mycss.css" type="text/css" rel="stylesheet" />
		<style>
			ul {
				display: flex;
				justify-content: center;
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #333;
			}

			li {
				float: left;
			}

			li a {
				display: block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}

			li a:hover {
				background-color: #111;
			}
		</style>
	</head>
	<body class="navBarBeforeLogin">
		<div class="navBar">
			<ul name="SelectCategory">
				<li><a href="/">Home</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/registration">registration</a></li>
				<li><a href="/addBook">add Books</a></li>
				<li><a href="/deleteBook">delete Book</a></li>
				<li><a href="/ShowBook">Show Books</a></li>
			</ul>
		</div>
		<div class="middle">
			<p>Hello , Welcome to the website of the Municipal Library.</p>
			<p>salute</p>
			<p>Management</p>
			<img
				src="../images/library2.jpg"
				alt="orel"
				style="width:128px;height:128px; border-radius: 50%"
			/>
		</div>
	</body>
</html>
